input.cell {
    border: none;
    background-color: rgba(0, 0, 255, .1);
    opacity: 10%;
    z-index: 100;
}

.cell:focus {
    background-color: rgba(200, 200, 255, 1);
    opacity: 100%;
}

.cellwrapper {
    position: relative;
}

.cellwrapper>.label {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: -1;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
}